<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="kk测试套件">
    <listeners>
        <listener class-name="interface_test_framework_testng_maven.listeners.CommonHookListener"/>
    </listeners>
    <!--公共的配置放这里-->
    <parameter name="scheme" value="http"/>
    <parameter name="host" value="localhost"/>
    <parameter name="requestCharset" value="utf-8"/>
    <parameter name="responseCharset" value="utf-8"/>
    <parameter name="port" value="8080"/>

    <!--init-->
    <test name="测试套件初始化测试集">
        <classes>
            <class name="interface_test_framework_testng_maven.init.Init"/>
        </classes>
    </test>
    
    <test name="测试demo" preserve-order="true">
        <classes>
            <class name="interface_test_framework_testng_maven.UnitTest" />
            <class name="interface_test_framework_testng_maven.UnitAllureTest" />
            <class name="interface_test_framework_testng_maven.UnitTestGuice" />
            <class name="interface_test_framework_testng_maven.UnitTestGuiceMultiFile" />
            <class name="interface_test_framework_testng_maven.CommonBaseTest" />
            <class name="interface_test_framework_testng_maven.ClassLoadFileBaseTest" />
            <class name="interface_test_framework_testng_maven.ClassLoadMultiFileBaseTest" />
            <class name="interface_test_framework_testng_maven.RequestViaTestNGParameterTest">
                <parameter name="path" value="/login"/>
                <parameter name="port" value="12306"/>
                <parameter name="cell" value="17300000000"/>
                <parameter name="password" value="123456"/>
            </class>
            <class name="interface_test_framework_testng_maven.RequestViaCsvTest">
                <parameter name="path" value="/login"/>
                <parameter name="port" value="12306"/>
                <parameter name="method" value="post"/>
                <parameter name="post_method" value="URL_ENCODED"/>
            </class>
        </classes>
    </test>
</suite>

